:host {
  .container {
    .data-basic {
      .data-company {
        display: flex;
        align-items: stretch;
        .left-column,
        .right-column {
          width: 100%;
          padding: 20px;
        }
      }
    }
    .location {
      .select-locations {
        display: flex;
        justify-content: center;
        label:last-of-type {
          padding-left: 20px;
        }
      }
      .data-location {
        border-left: 3px solid #675aa6;
        padding-left: 25px;
      }
    }
  }
}
