:host {
  .container {
    h3 {
      background: var(--content);
      color: var(--secondary);
      padding: 22px 20px;
    }
  }
  .location {
    display: flex;
    justify-content: center;
    .radio-title {
      &:last-of-type {
        padding-left: 20px;
      }
    }
  }
  .range {
    border-left: 3px solid #675aa6;
    padding-left: 25px;
  }
}
