<div class="container">

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">



    <div class="data-basic">
      <app-section-header title="Dane przedsiębiorstwa"></app-section-header>

      <div class="data-company">
        <div class="left-column">

          <app-input
            type="text"
            name="companyName"
            label="Nazwa przedsiębiorstwa"
            [control]="formGroup.controls.companyName"
          >
          </app-input>

          <app-input
            type="text"
            name="street"
            label="Ulica"
            [control]="formGroup.controls.street"
          >
          </app-input>

          <app-input
            type="text"
            name="country"
            label="Kraj/kod pocztowy/miasto"
            [control]="formGroup.controls.country"
          >
          </app-input>

          <app-input
            type="text"
            name="nip"
            label="NIP"
            [control]="formGroup.controls.nip"
          >
          </app-input>

          <app-input
            type="text"
            name="contact"
            label="Osoba do kontaktu"
            [control]="formGroup.controls.contact"
          >
          </app-input>
        </div>

        <div class="right-column">
            <app-input
              type="text"
              name="telephone"
              label="Telefon/Fax"
              [control]="formGroup.controls.telephone"
            >
            </app-input>

            <app-input
              type="text"
              name="telephone24"
              label="Numer telefonu 24/7"
              [control]="formGroup.controls.telephone24"
            >
            </app-input>

            <app-input
              type="text"
              name="manager"
              label="Manager ds. Zarządzania krysysowego"
              [control]="formGroup.controls.manager"
            >
            </app-input>

            <app-input
              type="text"
              name="email"
              label="Email"
              [control]="formGroup.controls.email"
            >
            </app-input>

            <app-input
              type="text"
              name="krs"
              label="KRS/CEIDG"
              [control]="formGroup.controls.krs"
            >
            </app-input>

        </div>
      </div>
    </div>

    <div class="location">
      <app-section-header title="Wybierz lokalizacje i zakresy audytów"></app-section-header>

      <div class="select-locations">

        <label>
          Main office (incl. production)
          <input type="radio">
        </label>


        <label>
          Production location
          <input type="radio">
        </label>

      </div>

      <div class="data-location">

        <label>
          <input type="checkbox"> Zakres: Produkcja mieszanek paszowych
        </label>
        <label>
          <input type="checkbox"> Zakres: Produkcja mieszanek paszowych bez stosowania krytycznych dodatków paszowych i krytycznych weterynaryjnych
          produktów medycznych
        </label>
        <label>
          <input type="checkbox"> Zakres: Produkcja premiksów
        </label>

      </div>

    </div>

    <app-radio-group
      [value]="businessType"
      (change)="businessType = $event"
      >
      <div class="section">
        <app-radio-option class="radio-option smaller" value="farm">
          Prowadzisz gospodarstwo rolne
        </app-radio-option>

        <app-radio-option class="radio-option smaller" value="trading_company">
          Prowadzisz działalność handlową (skupującą)
        </app-radio-option>
      </div>
    </app-radio-group>

    <!-- <div class="farm" *ngIf="businessType">
      <h1>farm {{businessType}}</h1>
    </div>

    <div class="trading_company" *ngIf="!businessType">
      <h1>trading_company</h1>
    </div> -->

    <app-checkbox
      name="checkbox1"
      [control]="formGroup.controls.checkbox1"
    >
      Oświadczam, że znam i akceptuję postanowienia
    </app-checkbox>

    <i class="icon-">close</i>
    <button class="btn btn-primary">Wyślij ankietę</button>
  </form>


</div>
