<div class="container">

  <form
    [formGroup]="formGroup" 
    (ngSubmit)="onSubmit()"
  >

    <div class="data-company">
      <h3>Dane przedsiębiorstwa</h3>

      <label>
        <div class="label">
          Nazwa przedsiębiorstwa
        </div>
        <input type="text" formControlName="companyName">
        <!-- <span *ngIf="formGroup.controls.companyName.errors.required"> Pole jest puste</span> -->
        <app-form-errors [control]="formGroup.controls.companyName"></app-form-errors>
      </label>


      <label>
        <div class="label">
          Ulica
        </div>
        <input type="text" formControlName="street">
      </label>

    </div>

    <div class="location">

      <h3>Wybierz lokalizacje i zakresy audytów:</h3>

      <div class="select-locations">

        <label>
          Main office (incl. production)
          <input type="radio">
        </label>


        <label>
          Production location
          <input type="radio">
        </label>

      </div>

      <div class="data-location">

        <label>
          <input type="checkbox"> Zakres: Produkcja mieszanek paszowych
        </label>
        <label>
          <input type="checkbox"> Zakres: Produkcja mieszanek paszowych bez stosowania krytycznych dodatków paszowych i krytycznych weterynaryjnych
          produktów medycznych
        </label>
        <label>
          <input type="checkbox"> Zakres: Produkcja premiksów
        </label>

      </div>

    </div>

    <button class="btn btn-primary">Wyślij ankietę</button>
  </form>

<app-child [userName]="name" [userAge]="age"></app-child>
<input [(ngModel)]="age">

<p>-----Parent------</p>
Say {{message}}


</div>
