<div class="container">

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">



    <div class="">
      <h3>Dane przedsiębiorstwa 2</h3>

      <div class="data-company ">
        <div class="left">

          <app-input
            type="text"
            name="companyName"
            label="Nazwa przedsiębiorstwa"
            [control]="formGroup.controls.companyName"
          >
          </app-input>

          <label>
            <!-- <div class="label">
              Nazwa przedsiębiorstwa
            </div> -->
            <!-- <input type="text" formControlName="companyName"> -->
            <!-- <span *ngIf="formGroup.controls.companyName.errors.required"> Pole jest puste</span> -->
            <!-- <app-form-errors [control]="formGroup.controls.companyName"></app-form-errors> -->
          </label>


          <!-- <label>
            <div class="label">
              Ulica
            </div>
            <input type="text" formControlName="street">
          </label> -->

          <label>
            <div class="label">
              Kraj/kod pocztowy/miasto
            </div>
            <input type="text">
          </label>

          <label>
            <div class="label">
              NIP
            </div>
            <input type="text">
          </label>

          <label>
            <div class="label">
              Osoba do kontaktu
            </div>
            <input type="text">
          </label>
        </div>

        <div class="right">
          <label>
            <div class="label">
              Telefon/Fax
            </div>
            <input type="text">
          </label>

          <label>
            <div class="label">
              Numer telefonu 24/7
            </div>
            <input type="text">
          </label>

          <label>
            <div class="label">
              Manager ds. Zarządzania krysysowego
            </div>
            <input type="text">
          </label>

          <label>
            <div class="label">
              Email
            </div>
            <input type="text">
          </label>

          <label>
            <div class="label">
              KRS/CEIDG
            </div>
            <input type="text">
          </label>
        </div>
      </div>

    </div>

    <div class="location">

      <h3>Wybierz lokalizacje i zakresy audytów:</h3>

      <div class="select-locations">

        <label>
          Main office (incl. production)
          <input type="radio">
        </label>


        <label>
          Production location
          <input type="radio">
        </label>

      </div>

      <div class="data-location">

        <label>
          <input type="checkbox"> Zakres: Produkcja mieszanek paszowych
        </label>
        <label>
          <input type="checkbox"> Zakres: Produkcja mieszanek paszowych bez stosowania krytycznych dodatków paszowych i krytycznych weterynaryjnych
          produktów medycznych
        </label>
        <label>
          <input type="checkbox"> Zakres: Produkcja premiksów
        </label>

      </div>

    </div>

    <button class="btn btn-primary">Wyślij ankietę</button>
  </form>


</div>
