// @import "variables";

@font-face {
  font-family: 'my-font';

  src:
    url('/assets/fonts/my-font.ttf?wjdpr') format('truetype'),
    url('/assets/fonts/my-font.woff?wjdpr') format('woff'),
    url('/assets/fonts/my-font.svg?wjdpr#my-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-my-font"], [class*=" icon-my-font"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'my-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-my-fontarrow_left {
  &:before {
    content: $icon-my-fontarrow_left;
  }
}
.icon-my-fontarrow_right {
  &:before {
    content: $icon-my-fontarrow_right;
  }
}
.icon-my-fontbell {
  &:before {
    content: $icon-my-fontbell;
  }
}
.icon-my-fontcheck {
  &:before {
    content: $icon-my-fontcheck;
  }
}
.icon-my-fontclose {
  &:before {
    content: $icon-my-fontclose;
  }
}
.icon-my-fontdelete {
  &:before {
    content: $icon-my-fontdelete;
  }
}
.icon-my-fontdownload {
  &:before {
    content: $icon-my-fontdownload;
  }
}
.icon-my-fontedit {
  &:before {
    content: $icon-my-fontedit;
  }
}
.icon-my-fontellipsis {
  &:before {
    content: $icon-my-fontellipsis;
  }
}
.icon-my-fontemail {
  &:before {
    content: $icon-my-fontemail;
  }
}
.icon-my-fontenvelope {
  &:before {
    content: $icon-my-fontenvelope;
  }
}
.icon-my-fontplus {
  &:before {
    content: $icon-my-fontplus;
  }
}
.icon-my-fontwarning {
  &:before {
    content: $icon-my-fontwarning;
  }
}

