:host {
    --radio-size: 19px;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    &:focus .radio {
      border: 1px solid blue;
    }
    &.selected .radio:before {
      --radio-size: 9px;
      content: '';
      display: block;
      width: var(--radio-size);
      min-width: var(--radio-size);
      height: var(--radio-size);
      border-radius: 50%;
      background: blue;
    }
    .radio {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--radio-size);
      min-width: var(--radio-size);
      height: var(--radio-size);
      border-radius: 50%;
      margin-right: 14px;
      border: 1px solid blue;
      background: white;
      outline: none;
    }
  
  }
  