@import 'styles/my-font';
@import 'styles/button';
@import 'styles/forms';
@import 'styles/table';
@import 'styles/responsive';
@import 'styles/typography';

:root {
  --success: var(--primary);
  --font-family: 'Lato', sans-serif;
  --navigation-height: 48px;
  --timeline-speed: 0.7s;
  --timeline-speed-halfed: calc(var(--timeline-speed) / 2);
  --timeline-animation: var(--timeline-speed) ease-in-out;
  --timeline-animation-halfed: var(--timeline-speed-halfed) ease-in-out;
  --avatar-size: 44px;
  --border-radius: 7px;

  --font-color: #132941;

  --content-very-light: #ffffff;
  --content-light: #f7f8f9;
  --content: #f5f5f5;
  --content-dark: #9fadb5;
  --content-very-dark: #798084;

  --primary-light: #56d48f;
  --primary: #36b56f;
  --primary-dark: #128043;

  --secondary-very-light: #cee4ff;
  --secondary-light: #3579cf;
  --secondary: #675aa6;
  --secondary-dark: #05336d;

  --warning-light: #ff993e;
  --warning: #f47521;
  --warning-dark: #d25603;

  --danger-very-light: #ffe9e9;
  --danger-light: #ffaeae;
  --danger: #ff4208;
  --danger-dark: #ed1c24;


  --font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

.container {
  padding: 0 6%;
}

a {
  text-decoration: none;
  &:visited {
    color: initial;
  }
}

